body{
    padding: 0;
    margin: 0;
    font-family: "montserrat", sans-serif;
    min-height: 100vh;
    background: black;
    
}

section{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.bgPulse{
    width: 100%;
    height: 100%;
}
.bgPulse span{
    position: absolute;
    width: 80px;
    height: 80px;
    background: red;
}
.bgPulse span:nth-child(3n+1){
    background:transparent;
}
.bgPulse span:nth-child(1){
    top: 50%;
    left: 20%;
    animation: animate 6.6s linear infinite;
}
.bgPulse span:nth-child(2){
    top: 80%;
    left: 40%;
    animation: animate 3s linear infinite;

}
.bgPulse span:nth-child(3){
    top: 10%;
    left: 65%;
    animation: animate 5s linear infinite;
}
.bgPulse span:nth-child(4){
    top: 50%;
    left: 70%;
    animation: animate 7s linear infinite;
}
.bgPulse span:nth-child(5){
    top: 10%;
    left: 30%;
    animation: animate 9s linear infinite;
}
.bgPulse span:nth-child(6){
    top: 90%;
    left: 95%;
    animation: animate 13s linear infinite;
}
.bgPulse span:nth-child(7){
    top: 80%;
    left: 5%;
    animation: animate 10s linear infinite;
}
.bgPulse span:nth-child(8){
    top: 35%;
    left: 50%;
    animation: animate 2s linear infinite;
}
.bgPulse span:nth-child(9){
    top: 5%;
    left: 5%;
    animation: animate 6s linear infinite;
}
.bgPulse span:nth-child(10){
    top: 25%;
    left: 90%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0deg);
    }
    100%{
        transform: scale(1) translateY(-100px) rotate(360deg);
        opacity: 0;
        background: red;
    }
}

.container{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: #343434;
    transform: translateY(-50%);
}

.container h1{
    font-size: 160px;
    font-weight: 900;
    letter-spacing: 2vw;
    background:url(https://images.unsplash.com/photo-1510416096143-b3f355567e3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.container h2{
    font-size:50px;
    color: #fff;
}
.container a{
    text-decoration: none;
    background: #EA2027;
    color: #fff;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 12px 24px;
    transition: 0.4s;
    text-transform: capitalize;
}

.container p{
    margin-bottom: 5vh;
    color: #fff;
    font-size: 25px
}

.container a:hover{
    font-size:23px;
}
