.photoscontainer{
    padding-top: 150px;
    margin: auto;
}
body{
    padding: 0;
    margin: 0;
    background-color: black;
}
.container{
    display: flex;
}

.photo{
    overflow: hidden;
    transition: transform .3s ease-out;  
    background:none;
}
.photo:hover{
    transform: scale(1.2);
    border-radius: 0;
}
body{
    background: url(https://images.unsplash.com/photo-1493780758133-e5cfb0d00354?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2097&q=80);
    /* background-size: cover; */
    background-repeat:repeat-y ;
}
.posts .photo{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
}
.post{
    background:rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding:20px ;
    margin-top: 30px;
}
.user{
    text-align: center;
    color: white;
}
button{
    background: none;
    margin-top: 20px;
    border: none;
}
.likebtns:hover{
    transform: scale(1.2);
}

.comments{
    text-align: center;
    color: white;
}
.commentbtns{
    width: 5px;
    height: 10px;
}