.photoscontainer{
    padding-top: 150px;
    margin: auto;
}
body{
    padding: 0;
    margin: 0;
    background-color: black;
}
.container{
    display: flex;
}

.photo{
    overflow: hidden;
    transition: transform .3s linear;  
    background:none;
}
.photo:hover{
    transform: scale(1.2);
    border-radius: 0;
}
body{
    background: url(https://images.unsplash.com/photo-1493780758133-e5cfb0d00354?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2097&q=80);
    /* background-size: cover; */
    background-repeat:repeat-y ;
}
.posts .photo{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20vw;
}
.post{
    background:rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding:20px ;
    margin-top: 30px;
}
.user{
    text-align: center;
    color: white;
}
button{
    background: none;
    margin-top: 20px;
    border: none;
}
.icons{
    transition: transform .2s linear;
}
.icons:hover{
    transform: scale(1.2);
}

.comments{
    text-align: center;
    color: white;
}
.postbtns{
    background: none;
}
.icons{
    width: 5vw;
    height: 3vw;
}
.icons .svg-icon{
    width: inherit;
    height: inherit;
}
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: .5;
  }
  .likebtns svg{
      height: inherit;
      width: inherit;
  }