body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: consolas;
}
.loader{
	position: relative;
	width: 100px;
	height: 100px;
	 border-radius: 50%;
	 background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
	 animation: animate 1s linear infinite;
}
.loaderwrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.loader.hidden{
		animation: animate fadeOut 1s forwards;
	}
	.loaderwrapper.hidden{
		animation: fadeOut 2s 
		animte-forwards;
	}
@keyframes fadeOut{
	25%{
		opacity: 75%;
	}

	50%{
		opacity: 50%;
	}
	100%{
		opacity: 0%;
		visibility: none;
	}
}
.loader span{
	position: absolute;
	width: 100%;
	height: 100%;
	 border-radius: 50%;
	 background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
}
.loader span:nth-child(1)
{
	filter: blur(5px);
}
.loader span:nth-child(2)
{
	filter: blur(10px);
}
.loader span:nth-child(3)
{
	filter: blur(20px);
}
.loader span:nth-child(4)
{
	filter: blur(30px);
}
.loader::after{
	position: absolute;
	 content: '';
	 top: 10px;
	 left:10px; 
	 right: 10px;
	 bottom: 10px;
	 background: #333;
	 border-radius: 50%;

}
@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.container{
	/* position: relative; */
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}
 .container .card{
	position: relative;
	padding-right: 30px;
}
.container  .card .face{
	width: 300px;
	height: 230px;
	transition: 0.8s;
}
.face1{
	position: relative;
	background: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
	transform: translateY(100px);
	color: #fff;
}
.container .card:hover .face1{
	transform: translateY(0);
	background: #ff3838;
	color: #333
}
.face2{
	position: relative;
	background: #747d8c;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
	transform: translateY(-150px);
	border-radius: 20px;
}
.container .card:hover .face2{
 	transform: translateY(0);
	 border-radius: 0;
	 background-color: #fff;
}
.container .card .face2 .content p{
	margin: 0px;
	padding: 0px;	
}
.container .card .face2 a{
	margin: 15px 0px 0px;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
}
.face2 .content a:hover{
	background: #333;
	color: #0984e3;
}
.container .card .face1 .content{
	opacity: 0.2;
	transition: 0.8s;
}
.container .card:hover .face1 .content{
	opacity: 1;
}
.container .card .face1 .content img{
		max-width: 100px;
}
.container .card .face1 .content h3{
		margin: 10px 0 0;
		padding: 0;
		text-align: center;
}
.bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	z-index: -1;

}
.active .bg1{
	background: url(https://images.unsplash.com/photo-1507643179773-3e975d7ac515?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;
}
.active .bg2{
	background: url(https://images.unsplash.com/photo-1531845116688-48819b3b68d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;
}
.active .bg3{
	background: url(https://images.unsplash.com/photo-1516382799247-87df95d790b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;
}
.active .bg4{
	background: url(https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;
}