body{
	margin: 0;
	padding: 0;
	background: url(https://images.unsplash.com/photo-1567450121326-28da3797155d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	background-repeat: repeat;
}

.gallery{
	padding-top: 150px;
	padding-bottom: 50px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}
.gallery img{
	margin: auto;
	width: 15vw;
	height: auto;
	padding-bottom: 50px;
	transition: transform .4s linear;
}

#settings{
	width: 8vw;
	margin: auto;
	margin-top: 2%;
	font-size: 100%;
}
.left-bar{
	padding-top: 150px;
	display: flex;
	flex-direction: column;
}
.settings_dropdown{
	margin: auto;
	margin-top: 2%;
	display: none;
	flex-direction: column;
}
.settings_dropdown > *{
	margin: auto;
	margin-top: 2vw;
}
.profile-pic{
	width: 15vw;
	height: 15vw;
	margin: auto;
}
.profile-pic img{
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.gallery img:hover{
	transform: scale(1.2);
}
.preview{  
    width: 300px;
    min-height: 100px; 
    border: 2px solid #ffffff ;
    margin-top: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ccc;
}

.img-preview__image{
     display: none;
     width: 100%;  
}

.bg-danger{
	color:white;
}