#canvas{
    display: none;
}
.top-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#photo-button, #clear-button, #photo-filter, .customImage{
    margin: auto;
    color:black;
}
.display{
	padding-top: 150px;
    padding-bottom: 50px;
	margin: auto;
	position: relative;
    display: flex;
}
.display video{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#stickercanvas{
    position: absolute;
    margin: auto;
    left: 0;
}
video{
	width: 100%;
    top: 0;
    margin: auto;
    left: 0;
} 
.stickers{
	overflow: scroll;
    background: white;
	margin: auto;
	display: flex;
    width: 46vw;
    height: 12vh;
}
.stickers img{
	object-fit: contain;
}

.posts{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 15vw;
    height: 20vw;
    overflow: scroll;
}
.output{
    position: relative;
}
#photo-button{
    display: none;
}