.preview{  
    width: 300px;
    min-height: 100px; 
    border: 2px solid #ffffff ;
    margin-top: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ccc;
}
form{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40%;
	right: 41%;
}
.img-preview__image{
     display: none;
     width: 100%;  
}