body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1{
    color: #ffff;
    border: solid black;
}
section {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #3f51b5, #00bcd4);
    animation: animate 15s linear infinite;
}
#canvas{
    display: none;
}
.top-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#photo-button, #clear-button, #photo-filter{
    width: 10%;
    margin: auto;
    color:black;
}
video{
    padding-top: 150px;
    padding-bottom: 50px;
    margin: auto;
}
/* section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100vh solid transparent;
    border-left: 100vh solid #fff;
    opacity: 0.1;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 100vh solid transparent;
    border-right: 100vh solid #fff;
    opacity: 0.1;
} */
@keyframes animate{
    0%{
        filter: hue-rotate(0deg)
    }
    50%{
        filter: hue-rotate(180deg);
    }
    100%{
        filter:hue-rotate(0deg);
    }
}